<!DOCTYPE html>
    <html lang=""fr-fr>
<head>
    <meta charset="utf-8">
    <title>Movie Express</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
<h1>Mon super titre</h1>
<div>
    Loriem ipsum blabalablabla
</div>
<hr>
<p>Copyright &copy; 2018 Super Alex</p>
</body>
</html>
