<!DOCTYPE html>
<html lang=""fr-fr>
<head>
    <meta charset="utf-8">
    <title>Movie Express</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
<h1>En savoir plus sur <%= movietitle %></h1>
<div>
    <h2><%= movieid %></h2>
    <p>Lorem Salu bissame ! Wie geht's les samis ? Hans apporte moi une Wurschtsalad avec un picon bitte, s'il te plaît.
        Voss ? Une Carola et du Melfor ? Yo dû, espèce de Knäckes, ch'ai dit un picon !</p>
    <p>Hopla vous savez que la mamsell Huguette, la miss Miss Dahlias du messti de Bischheim était au Christkindelsmärik en compagnie de Richard Schirmeck (celui qui a un blottkopf), le mari de Chulia Roberstau, qui lui trempait sa Nüdle dans sa Schneck ! Yo dû, Pfourtz ! Ch'espère qu'ils avaient du Kabinetpapier, Gal !</p>
</div>
</body>
</html>
