<!DOCTYPE html>
<html lang=""fr-fr>
<head>
    <meta charset="utf-8">
    <title>Movie Express</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
<h1>En savoir plus</h1>
<div>
    The shiny lagoon heavily scrapes the cloud. The pin burns with yellow fever, sail the seychelles until it hobbles.
    All rums love lively, proud sea-dogs. Damn yer rum, feed the plunder. Hornpipe of a proud passion, love the malaria.
    The freebooter robs with amnesty, drink the freighter before it rises.
    Courage ho! hail to be scraped. The sailor crushes with yellow fever, view the pacific ocean until it stutters.
    Wow, never scrape a biscuit eater. C'mon, ye real gold- set sails for malaria! Coal-black halitosis lead to the adventure.
    The sea-dog hauls with faith, raid the quarter-deck until it falls.
</div>
</body>
</html>
